.breadcrumbs a,
.breadcrumbs p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.MuiBreadcrumbs-separator{
  color: #fff;
}
a.MuiTypography-colorInherit {
  color: #fff;
  
}
.breadcrumbs{
  margin-top: -93px;
  margin-bottom: 80px;
}
.breadcrumbs-wrap{
  padding: 0px 20px;
  margin-left: -33.33%;
  margin-right: -33.33%;
  display: block;
  margin: 0 auto;
  padding-left: 40px;
  flex-wrap: wrap;
}