.cta-wrapper {
  border: 1px solid #9b9295;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.cta-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}
.cta-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #000000;
}
.cta-button {
  padding-left: 12px;
  background: #37313c;
  border-radius: 5px;
  color: white;
  width: 184px;
  height: 42px;
  border: 3px solid #37313c;
  margin-top: 30px;
}
.cta-button i{
  font-style: normal;
}
p.cta-button{
  font-family: "Gilroy W05 Regular", FontAwesome;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.16px;
}
.fa-angle-right {
  padding-left: 38px;
  padding-right: 16px;
}