
.row h3 {
  font-family: "Gilroy W05 Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #1a161e;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.row p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a161e;
}
.row{
  width: 200px;
}

.rowOne div{
  float: right;
}
.rowOne p:hover {
  background: #e6e2e0;
  cursor: pointer;
}

p.clinic-makeover {
  color: #009fc7;
}

.footer {
  height: 100%;
}
.footer div{
  width: 100%;
  margin: 0 auto;
  padding: 0px!important;
}

.fa-angle-right {
  padding-left: 38px;
  padding-right: 16px;
}

.subfooter-left p {
  margin-top: 60px;
  padding-left: 10px;
}
.footer-cat-wrap, .rowOne{
  max-width: 200px;
  float: right;
}
.footer-cat-wrap li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a161e;
  text-align: left;
}

.footer ul {
  padding-inline-start: 0px;
}

li.cat-footer-item {
  font-family: "Open Sans", FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  padding: 8px;
  margin: 0 4px 4px 0;
  vertical-align: top;
  color: #1a161e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

li.cat-footer-item:hover {
  background: #e6e2e0;
  border-radius: 3px;
  padding: 8px;
}

.footercategoriesicon {
  padding-left: 20px;
}
