@import url(https://fonts.googleapis.com/css?family=Open+Sans);

div.makeStyles-paper-2, div.MuiGrid-root {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  box-shadow: none;
  padding: 16px 16px 40px 16px;
  cursor: pointer;
  border: 1px solid transparent;
}
div.makeStyles-paper-2:hover {
  background: white;
}
div.MuiGrid-grid-sm-3{
  padding: 0px!important;
}

div.makeStyles-paper-2:active {
  border: 1px solid #000000;
}
div.MuiPaper-root {
  background-color: #f6f4f3;
  text-align: left;
}
.MuiGrid-root h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1a161e;
  text-align: left;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
}
.makeStyles-root-1 {
  margin-top: 62px;
  margin-bottom: 62px;
}

.product h3{
  text-align:center;
}
h3.grid-heading{
  text-align: left;
}
p.card-description {
  position: static;
  height: 80px;
  left: 16px;
  right: 16px;
  top: 58px;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #1a161e;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  text-align: left;
}
.front-divider{
  width: 1200px;
  border: 1px solid #E6E2E0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 64px;
  margin-bottom: 64px;
}