/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  /* left: 36px; */
  top: 21px;


}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f6f4f3;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  box-shadow: #373a47;
  padding: 2.5em 1.5em 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  overflow: hidden !important;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  display: inline-block;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  font-family: "Gilroy W05 Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #1a161e;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.navcategories {
  font-family: "Gilroy W05 Regular", FontAwesome;
}

.navcategories ul {
  display: none;
}
.navcategories:hover ul {
  display: block;
  overflow: hidden;
  height: 300px;
  transition: all 0.4s ease-in-out;
  list-style-type: none;
  margin: 0 0 0 0;
  transition: all 0.2s ease-in-out;
  left: 0px;
  cursor: pointer;
  margin: 0px !important;
  padding: 0px !important;
}
.navcategories li{
  transition: all 0.2s ease-in-out;
  text-align: left;
  font-family: "Open Sans", FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a161e;
  padding: 8px;
}
.navcategories li:hover {
  background: #f6f4f3;
  transition: all 0.4s ease-in-out;
  padding: 8px;
}
a.main-item:hover {
  background: #f6f4f3;
}
.navcategoriesicon {
  position: absolute;
  right: 46px;
}
/* Styling of overlay */
.bm-overlay {
  display: none;
}

.nav-divider {
  width: 200px;
  height: 0px!important;
  left: calc(50% - 400px / 2);
  bottom: 134px;
  border: 1px solid #e6e2e0;
  /* Inside Auto Layout */
  flex: none;
  padding: 0px!important;
  order: 0;
  flex-grow: 0;
}
.social-media ul {
  list-style-type: disc;
  margin: auto 0 auto 0;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.social-media li {
  font-family: FontAwesome;
  font-size: 24px;
  display: block;
  float: left;
  margin-right: 15px;
  padding-bottom: 45px;
}

/* 
#menuToggle {
  position: absolute;
  top: 10px;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu li{
  padding-left: 30px;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -55px 0 0 -450px;
  padding: 50px;
  padding-top: 125px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border-bottom-right-radius: 5px;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
} */
