input.search-input, .search-input:focus {
  padding-left: 32px;
  font-family: FontAwesome, "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #5a525c;
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-input::placeholder{
  color: #5a525c;
}
