.wrapper {
  display: grid;
  grid-template-columns: 100px 800px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
li{
  width: 100%;
}
.container {
  display: flex;
}
.columns {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.divider {
  width: 1020px;
  top: 417.5px;
  margin-left: 0px;
  border: 1px solid #000000;
}

.left-column {
  width: 170px;
  background: #f6f4f3;
  border: 30px solid #f6f4f3;
  border-radius: 5px;
  min-height: 600px;
  max-height: 600px;
  height: 600px;
}
.filters {
  display: block;
  line-height: 20px;
}
.left-column .filters ul {
  padding-left: 0px;
}
.filters ul {
  display: none;
}
.left-column label {
  display: -webkit-inline-box;
  width: 200px;
  text-align: left;
}
.left-column input {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px;
}
.filter-wrap .left-column ul {
  width: 300px;
}
 .checkbox-filter:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid #000000;
  content: "";
  background: transparent;
}

.checkbox-filter:hover input ~ .checkmark {
  background-color: #000;
}

.checkbox-filter input:checked ~ .checkmark {
  background-color: #000;
}

.checkbox-filter:after, input[type=checkbox]:checked {
  border-style: solid;
  border-color: #00aed8;
  border-radius: 5px;
}
.right-column li:hover{
border: 1px solid #9B9295;
box-sizing: border-box;
border-radius: 5px;
}
.right-column li{
  border: 1px solid #ffffff;
  width: 950px;

  border-radius: 5px;
  padding-bottom: 25px;
}
.right-column {
  width: 950px;
  margin-left: 100px;
  border-radius: 5px;
  /* min-height: 600px; */
  /* max-height: 600px; */
  /* height: 600px; */
  padding-bottom: 25px;
}
.card-date {
  font-style: normal;
  padding-left:25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #b3aaab;
}

.num-of-results{
  width: 189px;
  height: 22px;
  left: 135px;
  top: 121px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #82797F;
}
.popular-articles-card {
  background: #f6f4f3;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 1300px;
  margin-left: -50px;
}
.filter-wrap li {
  display: inline-block;
  text-align: left;
}
.filter-wrap ul {
  list-style: none;
  display: inline-block;
  text-align: left;
}
.filter-wrap {
  margin-right: 0px;
}
.content-wrap {
  /* display:grid; */
  /* grid-row-gap: 30px;
    grid-column-gap: 20px; */
  padding-left: 100px;
}
.page {
  margin: 5% 0%;
  position: relative;
  font-size: 0.9rem;
  max-height: 450px;
  overflow: hidden;
}
.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3% 40% 3% 3%;
  overflow: hidden;
}

.page p {
  line-height: 20px;
  font-size: 12px;
}
.page h1 {
  font-size: 1.2rem;
  line-height: 28px;
  font-weight: 700;
}
.date {
  font-size: 0.8rem;
  color: var(--thirdClr);
}
/* .card-wrap .card-body {
  display: none;
} */
.card-wrap p {
  font-family:"Gilroy W05 Regular";
  color: var(--thirdClr);
  font-size: 1rem;
  text-align: left;
}
.content-wrap img {
  width: 100%;
  height: auto;
}
.ads-image {
  width: 100%;
  height: auto;
}
.category-title {
  width: 80px;
  padding-left:25px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-align: left;
}
.card-excerpt {
  word-wrap: break-word;
  position: static;
  padding-right: 25px;
  padding-left:25px;
  font-size: 20px;
  line-height: 26px;
}
.read-more a{
  padding-left: 25px;
  color:#00aed8;
}
@media (min-width: 640px) {
  /* .content-wrap{
        grid-template-columns:1fr 1fr;
        grid-template-rows:auto ;
      
    } */
  /* .card-wrap:nth-child(1){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size:1.2rem;
        display:grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
      
         
    } */
  /* .card-wrap:nth-child(1) .card{
         align-self: center; 
    }
    .card-wrap:nth-child(1) img{
       min-height: auto;
       width:100%; 
    } */
}
@media (min-width: 960px) {
  /* .card-wrap:nth-child(1){
        grid-template-columns: 4fr 2fr;
       
         
    }
    .card-wrap:nth-child(1) .card{
        align-self: center;
    }
    .page p{
        line-height: 24px;
        font-size: 1rem;
      }
      .page h1{
        font-size: 2.65rem;
        line-height: 48px;
        font-weight: 700;
      }
     */
}

@media (min-width: 1286px) {
  .content-wrap {
    width: 100%;
    /* grid-template-columns: 320px 520px 320px;
        grid-template-rows:1fr 1fr 1fr; */
    font-size: 0.7rem;
    /* grid-gap:20px; */
  }
  .content-wrap h2 {
    font-size: 18px;
    margin: 0;
    position: absolute;
    width: 101px;
    height: 36px;
    left: 215px;
    top: 454px;
  }
  h1.search-results {
    width: 1020px;
    margin: 40px 250px 60px 0px;
    height: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
    color: #000000;
  }
  h1.popular-articles {
    text-align: left;
    margin: 40px 250px 60px 0px;
    height: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
    color: #000000;
  }
  .right-column h2 {
    padding-left:25px;
    height: 15px;
    left: 215px;
    top: 454px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
  }
  .card-title ul,
  li {
    list-style-type: none;
    width: auto;
    text-align: center;
  }
  .card-wrap {
    /* display: grid;  */
    /* grid-template-columns:200px auto;
        grid-template-rows: auto;   
        grid-row-gap:40px; */
    /* border:1px dotted black; */
  }
  .pos {
    position: relative;
    width: 180px;
    height: 150px;
    padding-right: 20px;
  }
  .content-wrap img {
    width: 180px;
    height: 120px;
    padding-right: 20px;
  }
  .card-wrap:nth-child(1) {
    /* border:2px solid pink; */
    /* grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2; */
    font-size: 1rem;
    /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;    */
  }
  .card-wrap:nth-child(1) img {
    width: 360px;
    height: 240px;
    left: -40px;
    position: absolute;
  }
  .card-wrap:nth-child(1) .card {
    align-self: flex-start;
  }

  .card-wrap:nth-child(2) {
    /* border:2px solid rgb(141, 21, 41); */
    /* grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4; */
    font-size: 1rem;
    /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;    */
  }
  .card-wrap:nth-child(2) img {
    width: 360px;
    height: 240px;
    position: absolute;
  }
}
