.site-logo{
    color: white;
    width: 300px;
}
.hamburger-menu{
   padding-top: 30px;
   float: left;
   left: 0;
   top: 0;
   left: -220px;
   display: none;
}
.wrap-to-border {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    background: var(--primaryClr);
    flex-wrap: wrap;
  }
  .navbar-wrap{
    padding: 0 20px;
    width: 60%;
    margin-left: -33.33%;
    margin-right: -33.33%;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 55px;
    flex-wrap: wrap;
  }
  .left-side {
    text-align: left;
    width: 12.5%;
  }
  .right-side {
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
  }
  .title-wrap {
    min-height: 100px;
    padding-top: 30px;
  }
  .search-wrap{
    padding-top:50px;
    display: block;
  }