ul.pagination {
  margin-bottom: 130px;
  cursor: pointer;
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  padding-left: 10px;
  padding-right: 10px;
}

.pagination .active a {
    border-bottom: 5px solid #009FC7;
    padding-bottom: 20px;
  }
