.rating-wrap img {
  cursor: pointer;
  padding: 30px 40px;
}
.rating-wrap {
  margin-bottom: 6em;
  text-align: center;
}
.rating-headline{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  padding: 30px 0px;
  margin-bottom: -30px;
}
.rating-divide{
  border: 1px solid #E6E2E0;
}
/* .disabled {
  background: red;
  border: 10px solid red;
} */
