form {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border-radius: 3px;
}

.form-group {
  padding: 0;
  border: 0;
}
.form-group + .form-group {
  margin-top: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  touch-action: manipulation;
}
input,
textarea {
  display: block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #9b9295;
  border-left: 0;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
input:focus,
textarea:focus {
  outline: 0;
  border-bottom-color: #00aed8;
}
textarea {
  resize: vertical;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1.618rem;
  text-align: center;
  font-family: "Gilroy W05 Regular", FontAwesome;
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  line-height: 18px;
  color: #009fc7;
  vertical-align: middle;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #00aed8;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
.btn:focus,
.btn:hover {
  background-color: #00aed8;
  color:#fff;
}
.btn:focus {
  outline: 0;
}
