.rec-articles-title {
  font-family: "Gilroy W05 Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
/* .articles-wrapper {
  margin-bottom: 240px;
} */
.article-title,
.article-date,
.article-excerpt,
.read-more {
  text-align: left;
}
h2.article-title{
  font-family: "Gilroy W05 Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 0px!important;
}
p.article-excerpt{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0px!important;
}

p.article-date{
  font-family: "Open Sans";
  font-size: 14px!important;
  letter-spacing: 0.16px!important;
  color: #B3AAAB!important;
  margin: 0px!important;
}
li.articles-wrapper{
  background: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 395px;
  height: 120px;
}
.read-more {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
}

li.each-article-wrapper{
  max-width: 395px;
  max-height: 120px;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-radius: 5px;
  margin-bottom: 16px;
}

li.each-article-wrapper:hover{
  background: #e6e2e0;
}