.search-list {
  z-index: 900;
  position: initial;
  top: 50px;
}
h1.search-results-in-title {
  width: 1020px;
  margin: 200px 0px 0px 0px;
  height: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  color: #000000;
}
.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.suggestions li {
  background: rgba(240, 240, 240, 0.938);
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  text-transform: capitalize;
}
