h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #82797f;
}
h2 {
  font-family: "Gilroy W05 Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 24px;
  color: #000000;
}
p.campaign-description, p.documentation {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
p.documentation{
  color:#007E9E;
}
.button {
  padding: 10px 15px;
  color: white;
  background: #00aed8;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 115px;
  margin-bottom: 15px;
  float: right;
  margin-right: 25px;
}
.content-divider {
  border: 1px solid #e6e2e0;
}
.documentation-divider {
  border: 1px solid #e6e2e0;
}
.post-divider {
  width: 1184px;
  height: 0px;
  left: calc(50% - 1184px / 2);
  top: 216px;
  border: 1px solid #e6e2e0;
}
.post-title {
  font-family: "Gilroy W05 Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  width: 700px;
}
.button .email .print {
  clear: none;
}
.page-container {
  /* border:1px solid green; */
  padding-top: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0;
}
.page-container h1 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 64px;
  word-wrap: break-word;
}

.figure {
  width: 104%;
  transform: translateX(-2%);
  height: auto;
  grid-row-start: 1;
  grid-row-end: 2;
}
.page-container h3 a {
  color: var(--secondClr);
  text-transform: uppercase;
}
.page-container h4 {
  color: var(--thirdClr);
  font-weight: 300;
  font-size: 1.45rem;
  line-height: 28px;
}

.text-page p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.side-bar {
  justify-self: center;
}
.fa {
  color: var(--primaryClr);
}

em,
u {
  font-weight: 300;
  padding: 10px;
}
em::after {
  content: ' "';
}
em::before {
  content: '" ';
}
.text-page img {
  width: 460px;
  height: 306px;
}
img.figure {
  width: 460px;
  height: 306px;
}
@media (min-width: 940px) {
  .page-container {
    grid-template-columns: repeat(10, 1fr);
    grid-row: auto;
    padding-top: 0px;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }
  .post-image,
  .figure img {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0 20px;
    transform: translateX(0%);
    float: right;
    margin-right: -20px;
  }

  .page-wrap {
    padding: 0 10px 0 0;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .text-page {
    /* border:1px solid yellow; */
    /* grid-column-start: 3;
    grid-column-end: 11; */
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0 20px;
  }

  .side-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: flex-start;
    padding-top: 50%;
    /* border:1px solid green; */
  }
  .vote-container {
    position: relative;
  }
  .vote {
    font-size: 0.7rem;
    position: absolute;
    top: -12px;
    left: 29px;
  }
}
@media (min-width: 1340px) {
  .figure {
    width: 110%;
  }
}

@media (min-width: 1840px) {
  .figure {
    width: 130%;
  }
}
