.subfooter {
  display: flex;
  justify-content: space-between;
  background: #F6F4F3;
  overflow:hidden;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}
.subfooter-left {
  float: left;
}
.subfooter-right {
  float: right;
  color: white;
}
.socials{
    width: 100%;
    height: 50px;
    background: #37313C;
    padding-top: 10px;
}
.socials div{
    background: #37313C;
}
