/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

:root {
  --primaryClr: #1a161e;
  --secondClr: #08a2ca;
  --whiteColor: #ffffff;
  --thirdClr: #37313c;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy W05 Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "Gilroy W05 Regular", serif;
  font-weight: 1200;
}
p,
.read-more {
  font-family: "Gilroy W05 Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
code {
  font-family: "Gilroy W05 Regular", sans-serif;
}
a {
  color: var(--primaryClr);
  text-decoration: none;
}
.app-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: calc(100vh - 200px);
}
.App {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.wrap-to-border {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: var(--primaryClr);
  margin-bottom: 10px;
  max-height: 150px;
  padding-bottom: 50px;
}

.btn-join {
  width: 110px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid var(--whiteColor);
  color: var(--whiteColor);
  background: transparent;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.signin {
  text-align: center;
  font-family: "Gilroy W05 Regular", FontAwesome;
  padding-bottom: 3px;
  top: 21px;
  color: var(--whiteColor);
  cursor: pointer;
}

.search-input {
  padding-left: 120px;
  background: rgba(207, 207, 207, 0.164);
  width: 100%;
  min-height: 48px;
  color: var(--whiteColor);
  font-size: 26px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: #f2f2f2;
}

.title-wrap h1 {
  color: var(--whiteColor);
}
.fa {
  width: 30px;
  color: var(--thirdClr);
  cursor: pointer;
}
/* category nav */
.category-wrap {
  height: 70px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--whiteColor);
  height: 70px;
  z-index: 9999;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
}
.padding-sticky {
  padding-left:100px;
}
.category-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
  align-items: center;
  font-size: 0.95rem;
  color: var(--thirdClr);
  overflow-x: scroll;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.category-list a {
  color: var(--thirdClr);
}
.item {
  padding: 0 10px;
  background: #009fc7;
  padding: 12px 15px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
.loader-overlay {
  position: fixed;
  width: 99vw;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 400px;
  width: 100%;
  background: #F6F4F3;
  color: #1A161E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  flex-direction: column;
}
.footer a {
  color: #1A161E;
}
.site {
  height: 700px;
}

/* @media (min-width: 460px) {
  .navbar-wrap {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100%;
  }
  .search-input {
    display: inline;
  }
} */

/* @media (min-width: 658px) {
  .navbar-wrap {
    justify-content: space-between;
  }
  .category-list {
    color: var(--thirdClr);
    overflow-x: hidden;
  }
} */
